@use 'colors';
@use 'mixins';

@media (min-width: 992px) {
	.top-bar {
		min-height: 180px;

		&__up {
			&-location {
				width: 239px;
				text-align: center;
			}
		}

		&__down {
			&-container {
				height: 110px;
				justify-content: space-between;
				padding: 0 2em;
			}

			&-nav {
				&--desktop {
					margin-left: 0em;
					column-gap: 4rem;
				}
			}

			&-request {
				display: block;
				align-self: stretch;
				width: 239px;
				padding: 0 2em;
				font-size: 2rem;
				font-weight: bold;
				text-align: center;
				text-transform: uppercase;
				background-color: colors.$main-color;
				line-height: 110px;
			}
		}
	}

	.header {
		top: -110px;

		&__container {
			padding: 30rem 3em 10em;
		}

		&__content {
			&-top {
				h1 {
					max-width: 600px;
					margin-bottom: 0.6em;
					font-size: 8rem;
				}
			}

			&-bottom {
				justify-content: flex-start;
			}
		}
	}

	.footer {
		&__up {
			&-container {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				padding-top: 10em;
			}

			&-logo,
			&-text {
				margin-bottom: 0em;
			}

			&-logo {
				width: 15%;
			}

			&-text {
				width: 40%;
				max-width: 400px;
			}
		}

		&__down {
			&-images {
				grid-template-columns: repeat(6, 1fr);
				transform: translateY(-35%);
			}
		}
	}

	.servis {
		&__text-top {
			padding: 9em;

			h2 {
				font-size: 6rem;
				margin-bottom: 0.5em;
			}
		}

		&__request {
			&-container {
				display: flex;
				align-items: center;
				justify-content: space-evenly;
			}

			&-text {
				width: 30%;

				button {
					width: 100%;
				}
			}

			&-form {
				width: 50%;
			}
		}
	}

	.contact {
		margin-top: -110px;

		&__us {
			display: flex;
			justify-content: space-between;
			column-gap: 5rem;

			&-left {
				h2 {
					font-size: 6rem;
					max-width: 600px;
				}
			}

			&-right {
				width: 40%;
			}
		}
	}

	.estimate {
		margin-top: -110px;

		&__top {
			position: relative;
			padding-top: 15em;

			h2 {
				font-size: 6.5rem;
				margin-bottom: 0.5em;
			}

			p {
				&:nth-of-type(1) {
					max-width: 550px;
				}
			}

			img {
				display: block;
				position: absolute;
				bottom: 0;
				right: 5%;
			}
		}
	}

	.quality {
		margin-top: -110px;

		&__container {
			h2 {
				max-width: 800px;
				font-size: 6rem;
			}
		}

		&__content {
			display: flex;
			align-items: center;
			justify-content: space-between;
			column-gap: 10rem;
		}

		&__experience {
			width: 40%;
		}

		&__img {
			width: 60%;
			max-width: 600px;

			&-text {
				h3 {
					padding-right: 0em;
				}
			}
		}
	}

	.swiper {
		overflow: hidden;
	}

	.swiper-button-prev,
	.swiper-button-next {
		top: 50%;
	}

	.opinions {
		&__container {
			display: flex;
			column-gap: 5rem;
			padding-top: 5em;
		}

		&__slider {
			width: 60%;
			margin-bottom: 0;

			h3 {
				font-size: 6rem;
			}

			&-item {
				.rating {
					height: 50%;
				}
			}
		}
		&__img {
			width: 40%;
		}
	}

	.gallery {
		&__container {
			padding: 6em 0;
		}

		&__box {
			gap: 3rem;
		}
	}
}

@media (min-width: 1200px) {
	.top-bar {
		&__up {
			&::before {
				content: '';
				position: absolute;
				top: 100%;
				left: 0;
				width: 100%;
				height: 55px;
				background-color: colors.$main-color;
				z-index: 1;
			}
		}

		&__down {
			&-container {
				position: relative;

				&::before {
					@include mixins.pseudoElements;
					right: 100%;
				}

				&::after {
					@include mixins.pseudoElements;
					left: 100%;
				}
			}

			&-request {
				position: relative;

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 10px;
					top: 100%;
					left: 0;
					background-color: colors.$white;
				}
			}
		}
	}

	.contact {
		&__us {
			&-right {
				&-item {
					padding: 2em 1em;

					.icon {
						text-align: right;
					}

					.content {
						span:first-child {
							font-size: 2rem;

							& + * {
								font-size: 2.5rem;
							}
						}
					}
				}
			}
		}
	}

	.estimate {
		&__top {
			padding-bottom: 10em;

			p {
				&:nth-of-type(1) {
					max-width: 750px;
				}
			}
		}

		&__form-box {
			padding: 8em;
		}
	}

	.opinions {
		&__container {
			column-gap: 10rem;
		}
	}
}

@media (min-width: 1400px) {
	.estimate {
		&__top {
			padding-left: 0;
		}
	}
}
