@use 'colors';
@use 'variables';

@mixin pseudoElements {
	content: '';
	position: absolute;
	height: 100%;
	width: 55px;
	background-color: colors.$light-dark;
}

@mixin contactFormStyle {
	input,
	textarea,
	select {
		width: 100%;
		padding: 1em;
		margin-bottom: 1em;
		font-size: 2rem;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: variables.$radius-small;

		&::placeholder {
			font-weight: bold;
			letter-spacing: 1px;
			font-size: 1.8rem;
		}
	}
}

@mixin formStyling {
	label,
	p {
		display: block;
		margin-bottom: 1em;
		font-size: 2rem;

		input:not(input[type='checkbox']),
		textarea,
		select {
			display: block;
			width: 100%;
			padding: 0.5em 1em;
			margin-top: 1em;
			font-size: 2rem;
			border: 1px solid rgba(0, 0, 0, 0.2);
			outline: none;

			&:focus {
				border: 1px solid colors.$main-color;
			}
		}
	}
}

@mixin formButton {
	width: 100%;
	padding: 1em 2em;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: bold;
	background-color: colors.$main-color;
	color: colors.$white;
	border-radius: variables.$radius-small;
}
